body{
    background-color: var(--background);
}
header{
    width: 100vw;
    box-sizing: border-box;
    padding: 0.6rem;
    background-color: var(--header);
    font-family: 'Fredericka the Great', cursive;
}

header div{
    display: flex;
    justify-content: center;
    align-items: center;
}
header div img{
    width: 3rem;
    margin-right: 0.6rem;
}

header div h1{
    color: black;
}

.itens-grid{
    flex: 1;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 40px;    
    padding-top: 40px;    
    font-family: 'Fredericka the Great', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    background-color: var(--header);
    border-radius: 50px;
}

.itens-grid div{
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: var(--buttom);
    margin: 2rem;
    padding: 10px;
    min-width: 80%;
    border-radius: 20px;
    transition: background-color 0.2s;
    color: black;
}
.itens-grid div:hover{
    background-color: #999999;
}
@media(min-width:600px){
    .itens-grid{
        width:550px;
    }
}

@media(min-width: 1100px){
    
    .itens-grid{
        justify-content: flex-start;
        margin-left: 5rem;
        margin-top: 5rem;
    }
    body{
        background-image: url('../../assets/images/Logos/LogoMain.png');
        background-repeat: no-repeat;
        background-position-x: 90%;
        background-position-y: 3rem;
        background-size: 90vh;
    }
}

